.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  margin: 0 7%;
}

body {
  background-color: rgb(206, 202, 202);
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #070707;
  font-size: 6rem;
  color: rgb(43, 53, 39);
}

p {
  font-size: 2rem;
  color: rgb(85, 47, 63);
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: rgb(146, 116, 60);
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 1.5rem;
}
